<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <mat-card class="register-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title i18n="@@register.title"
        >Bienvenue sur DevLife !</mat-card-title
      >
      <mat-card-subtitle i18n="@@register.subtitle"
        >Entrez vos informations afin de découvrir le monde du développement
        !</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="register-card-content">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label i18n="@@register.username">Nom d'utilisateur</mat-label>
        <input formControlName="userName" matInput type="text" />
        <mat-error i18n="@@register.username.error">
          @if ((registerForm.controls.userName.hasError('required') &&
          (registerForm.controls.userName.dirty ||
          registerForm.controls.userName.touched))) { Le nom d'utilisateur est
          requis. }
        </mat-error>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label i18n="@@register.email">E-mail</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error i18n="@@register.email.error">
          @if ( (registerForm.controls.email.hasError('required') &&
          (registerForm.controls.email.dirty ||
          registerForm.controls.email.touched)) ) { L’e-mail est requis. }
        </mat-error>
        <mat-error i18n="@@register.valide.email.error">
          @if ((registerForm.controls.email.hasError('email') &&
          (registerForm.controls.email.dirty ||
          registerForm.controls.email.touched))) { Entrez un e-mail valide. }
        </mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label i18n="@@register.password">Mot de passe</mat-label>
        <input
          formControlName="password1"
          [type]="isPasswordHided() ? 'password' : 'text'"
          matInput
        />
        <button
          class="mr-2"
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword($event)"
        >
          <mat-icon class="icon-outlined">{{
            isPasswordHided() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error i18n="@@register.password.required.error">
          Le mot de passe est requis.
        </mat-error>
        <mat-error i18n="@@register.password.lenght.error">
          @if ((registerForm.controls.password1.hasError('minlength') &&
          (registerForm.controls.password1.dirty ||
          registerForm.controls.password1.touched))) { Doit contenir au moins 8
          caractères. }
        </mat-error>
        <mat-error i18n="@@register.password.char.error">
          @if ( (registerForm.controls.password1.hasError('pattern') &&
          (registerForm.controls.password1.dirty ||
          registerForm.controls.password1.touched)) ) { Doit contenir au moins
          un chiffre et un caractère spécial. }
        </mat-error>
        <mat-error i18n="@@register.password.max.lenght.error">
          @if ( ( registerForm.controls.password1.hasError('maxlength') &&
          (registerForm.controls.password1.dirty ||
          registerForm.controls.password1.touched)) ) { Ne peut pas dépasser 100
          caractères. }
        </mat-error>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label i18n="@@register.confirm.password"
          >Confirmez le mot de passe</mat-label
        >
        <mat-error i18n="@@register.confirm.password.error">
          @if ((registerForm.controls.password2.hasError('required') &&
          (registerForm.controls.password2.dirty ||
          registerForm.controls.password2.touched))) { La confirmation du mot de
          passe est requise }
        </mat-error>
        <input formControlName="password2" type="password" matInput />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="register-card-footer">
      <a [routerLink]="['/']">
        <button i18n="@@register.return" mat-button>Retour a l'accueil</button>
      </a>
      <button i18n="@@register.submit" type="submit" mat-stroked-button>
        S'enregistrer
      </button>
    </mat-card-actions>
  </mat-card>
</form>
